:root {
  --w-desktop: 1140px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Caveat, sans-serif;
  color: #fcfeff;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:hover {
    transform: translate(1.02);
  }
}

body {
  width: 100%;
  background: radial-gradient(circle, #374f65 1%, #202226 80%, #202226 100%);
  background-size: 100vw 100vh;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}